body {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

#browser-icon {
    bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 360px;
    height: auto;
}

.links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center stretch;
    align-content: center;
}

.links div {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

#mcf-logo {
    max-width: 5%;
}

footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 15px;
}
