body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

header {
    background-color: lightyellow;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

#browser-icon {
    bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

#aaf_logo {
    max-width: 45%;
    height: auto;
    transition: .5s ease;
    -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
}

#aaf_logo:hover {
    -moz-box-shadow: 5px 5px 10px black;
    -webkit-box-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px black;
}

.links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center stretch;
    align-content: center;
}

.links div {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.bio {
    font-size: 20px;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #927DA8;
}

h1 {
    color: white;
    font-size: 3em;
}

.posters {
    padding: 3%;
}


.register_button {
    text-align: center;
    font-size: 30px;
    padding: 1% 3%;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    max-width: 30%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.register_button:hover {
    background-color: lightyellow;
    cursor: pointer;
    color: #927DA8;
}

.posters img {
    max-width: 60%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.posters img:hover {
    -moz-box-shadow: 5px 5px 10px black;
    -webkit-box-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px black;
}

.publications img {
    max-width: 60%;
}

#past-events {
    background-color: #382749;
}

.donate {
    background-color: #f5d832;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.donate i {
    margin: auto;
    color: #382749;
}

.donate-btn {
    text-align: center;
    font-size: 30px;
    padding: 1% 3%;
    border-radius: 50px;
    border: 2px solid #382749;
    background-color: transparent;
    color: #382749;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    max-width: 30%;
    margin: auto;
}

.donate-btn:hover {
    background-color: #382749;
    color: white;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

.contact-btn {
    text-align: center;
    font-size: 30px;
    padding: 1% 3%;
    border-radius: 50px;
    border: 2px solid #382749;
    background-color: transparent;
    color: #382749;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    max-width: 30%;
    margin: auto;
}

.contact-btn:hover {
    background-color: #382749;
    color: white;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

hr {
    max-width: 50%;
}

#princexdesign-logo {
    max-width: 20px;
    bottom: 0;
}

footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    bottom: 0;
    font-size: .75em;
    color: grey;
}

footer a {
    color: grey;
}