body {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    width: 480px;
    height: auto;
}

.links {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.links div {
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

i {
    color: black;
}